.login-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding-right: 20px;
  }
  
  label {
    display: block;
    color: black;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .hello-123 {
    color: black;
  }
