.login-form {
    height: 100vh;
    width: 40%;
    /* margin: 50px auto; */
    padding: 20px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding-right: 20px;
  }
  
  label {
    display: block;
    color: black;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .hello-123 {
    color: black;
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .login-container {
    display: flex;
  }
  
  .song-posters {
    height: 100vh;
    width: 50%;
    display: flex;
    /* object-fit: contain; */
    justify-content: space-between;
  }
  
  /* Rest of your existing CSS styles */
  